body {
color:#B66935;
font-family: Candara, Arial, Geneva, Verdana;
font-weight: normal;
background-color: #FDEEA4;
font-size: 40px;

}

h1 {
text-align: center;
color:black;
}

.selfimage{
display: block;
text-align:center;
margin-left:auto;
margin-right:auto;
padding: 3px;
background-color:silver;
border-color: black;
border-width: 2px;
border-style: solid;
border-radius:30px;



}
.main{
	padding-right:30px;
	padding-left:30px;
}
.left{
	padding-top:50px;
	float:left;
	width:30%;
}
.leftsi{
	padding-top:50px;
	float:left;
	width:70%;
}

.right{
	float:right;
	width:70%;
}
.rightsi{
	float:right;
	width:30%;
}


img.image{

max-width:100%;
max-height:100%;



border-color: black;
border-width: 2px;
border-style: solid;
border-radius:30px;



}

.img{
float:right;
}

.port{
	text-align:justify;
	
	padding-left:30px;
	
}
.portsi{
	text-align:justify;
	padding-right:30px;
	
	
}

ul{
list-style:none;
padding:0;
margin:0;
}

ul li{
	display:block;
	
}
div {
	float:left;
}

a{
text-decoration:none;
background-color: #6B0F0F;
color:#FAF0E6;

width:300px;

margin:20px;
padding:10px;
border: 1px solid #B66935;
border-radius:4px;
text-align: center;
height: 70px;
line-height:70px;
}

a:hover{
background-color:#B66935;
color:white;

}

.menu{
	width:20%;
	margin-left:130px;
}
ul li a{
	display:block;
}
.vidi{
	margin:0 auto 50px;
	width:640px;
	
	display:block;
}
.projektek{
	text-align:center;
}
.hobbi{
	margin-bottom:50px;
}

